{{- /*
  For a given taxonomy, renders a list of terms assigned to the page.

  @context {page} page The current page.
  @context {string} taxonomy The taxonomy.

  @example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <div class="tag-block">
    <p class="eyebrow">{{ $label }}</p>
    <div class="tag-list">
      {{- range . }}
        <a class="tag-list__item" href="{{ .RelPermalink }}"
          >{{ .LinkTitle }}</a
        >
      {{- end }}
    </div>
  </div>
{{- end }}
